<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="autoStartup" value="false"/>
		<property name="applicationContextSchedulerContextKey" value="applicationContext"/>
		<property name="waitForJobsToCompleteOnShutdown" value="true"/>
		<property name="configLocation" value="classpath:com/nextag/quartz/server/quartz.properties"/>
		<property name="jobFactory"><bean class="org.quartz.simpl.SimpleJobFactory"/></property>
		<property name="schedulerName" value="import"/>
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.jobStore.misfireThreshold">6000000</prop>
				<!-- prop key="org.quartz.jobStore.driverDelegateClass">org.quartz.impl.jdbcjobstore.StdJDBCDelegate</prop> -->
				<!-- prop key="org.quartz.jobStore.isClustered">true</prop> -->
				<!-- prop key="org.quartz.jobStore.clusterCheckinInterval">20000</prop> -->
				<prop key="org.quartz.scheduler.instanceName">ClusteredScheduler</prop>
				<prop key="org.quartz.scheduler.instanceId">AUTO</prop>
				<prop key="org.quartz.scheduler.jmx.export">true</prop>
				<!-- prop key="org.quartz.jobStore.class">org.quartz.impl.jdbcjobstore.JobStoreTX</prop> -->
			</props>
		</property>
		<!-- property name="dataSource" ref="JDBCDataSource"/> -->
		

	</bean>
	<bean class="com.nextag.spring.scheduling.quartz.SchedulerAccessorBean">
		<property name="scheduler" ref="quartzScheduler"/>
		<property name="triggers">
			<list>
				<bean class="com.nextag.spring.scheduling.quartz.CronTriggerBean">
					 <property name="jobDetail">
						<bean id="wait2Task" class="com.nextag.spring.scheduling.quartz.JobDetailBean">
							<property name="group" value="testing" />
							<property name="jobClass" value="com.nextag.quartz.server.WaittingTask" />
							<property name="jobDataAsMap">
								<map>
									<entry key="beanName" value="wait2Task"/>
									<entry key="waitTime" value="2" />
								</map>
							</property>
						</bean>
					</property>
					<property name="name" value="wait2task10m"/>
					<property name="group" value="testing"/>
					<property name="cronExpression" value="0 0/10 * * * ?"></property>
				</bean>
				<bean class="com.nextag.spring.scheduling.quartz.CronTriggerBean">
					<property name="jobDetail">
						<bean id="wait4Task" class="com.nextag.spring.scheduling.quartz.JobDetailBean">
							<property name="group" value="testing" />
							<property name="jobClass" value="com.nextag.quartz.server.WaittingTask" />
							<property name="jobDataAsMap">
								<map>
									<entry key="beanName" value="wait4Task"/>
									<entry key="waitTime" value="4" />
								</map>
							</property>
						</bean>
					</property>
					<property name="name" value="wait4task10m"/>
					<property name="group" value="testing"/>
					<property name="cronExpression" value="0 0/10 * * * ?"></property>
				</bean>
			</list>
		</property>
		
	</bean>
	
	<bean id="JDBCDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@buildmain1.db.nextagqa.com:1526:QA_BDB1" />
		<property name="username" value="ubdb" />
		<property name="password" value="ubdb" />
		<property name="poolPreparedStatements" value="true"/>
		<property name="maxActive" value="20"/>
		<property name="accessToUnderlyingConnectionAllowed" value="true"/>
		<property name="defaultAutoCommit" value="true"/>
	</bean>
	
	<bean id="GWTQuartzScheduler" class="com.nextag.quartz.server.GWTQuartzSchedulerImpl">
		<property name="delegate" ref="quartzScheduler"/>
	</bean>
</beans>
